{% extends "base.html" %}
{% load static %}

{% block title %}Crear usuario{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{% static 'css/pages/crear_usuario.css' %}">
{% endblock %}

{% block content %}
<section class="card">
  <div class="row row--between">
    <h1 style="margin:0">Crear usuario</h1>
    <a class="btn btn--siga btn--sm" href="{% url 'panel_home' %}">Volver</a>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}

  {% if form.non_field_errors %}
    <div class="alert alert--error" role="alert">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  <form method="post" class="form">
    {% csrf_token %}

    <div class="form-grid">
      {{ form.as_p }}
    </div>

    <div class="actions">
      <button class="btn btn--primary" type="submit">Crear</button>
      <a class="btn btn--ghost" href="{% url 'panel_home' %}">Cancelar</a>
    </div>
  </form>
</section>
{% endblock %}
