{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}INFOSOC{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  
  <link rel="icon" href="{% static 'img/Logo_UTFSM.png' %}" type="image/png">

   
  <script defer src="{% static 'js/app.js' %}"></script>

    {% block page_css %}{% endblock %}
</head>
<body>

  <main class="container">
    {% block content %}{% endblock %}
  </main>
  {% include "footer.html" %}
  
  <script defer src="{% static 'js/app.js' %}"></script>
    {% block page_js %}
      <script>
      document.addEventListener("DOMContentLoaded", () => {
          {% if messages %}
              {% for m in messages %}
                  alert("{{ m|escapejs }}");
              {% endfor %}
          {% endif %}
      });
    </script>
    {% endblock %}
</body>
</html>